<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Edit Receptionist</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="me-auto"></span>
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>

<%= form_with(model: @receptionist, url: receptionist_path, method: :patch) do |form| %>
  <div class="container text-left">
    <div class="row">
      <div class="col">
        <%= form.label :email, style: "display: block" %>
        <%= form.text_field :email %>
        <%= form.hidden_field :id %>
      </div>
      <div class="col">
        <%= form.label :password, style: "display: block" %>
        <%= form.password_field :password %>
      </div>
    </div>
    <div class="row">
      <div class="col p-3">
        <%= form.submit 'Update Credentials' %>
      </div>
    </div>
  </div>
<% end %>
