<!DOCTYPE html>
<html>
  <head>
    <title>MarkerablSolution</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">/-</a>
        <% if current_user %>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Patients", patients_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Progress", registration_progress_patients_path, class:"nav-link" %>
              </li>
            </ul>
            <ul class="nav text-body-secondary">
              <li class="nav-item dropdown">
                <label class="nav-item" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  <%= current_user.email %>
                </label>
                <ul class="dropdown-menu">
                  <% if current_user&.doctor? %>
                    <li>
                      <%= link_to "Receptionist", edit_receptionist_path, class: 'dropdown-item' %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>

    <div class=" position-absolute top-50 end-0">
      <% if notice %>
        <% notices.each do |message| %>
          <div class="p-3 bg-warning bg-opacity-10 border border-warning border-end-0 rounded-end mb-2">
            <%= message %>
          </div>
        <% end %>
      <% end %>
      <% if alert %>
        <% alerts.each do |message| %>
          <div class="p-3 bg-danger bg-opacity-10 border border-danger border-end-0 rounded-end mb-2">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="w-75 m-auto mt-5">
      <%= yield %>
    </div>
  </body>
</html>
