<!DOCTYPE html>
<html>
  <head>
    <title>MarkerablSolution</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class=" position-absolute top-50 end-0">
      <% if notice %>
        <% notice.each do |message| %>
          <div class="p-3 bg-warning bg-opacity-10 border border-warning border-end-0 rounded-end mb-2">
            <%= message %>
          </div>
        <% end %>
      <% end %>
      <% if alert %>
        <% alert.each do |message| %>
          <div class="p-3 bg-danger bg-opacity-10 border border-danger border-end-0 rounded-end mb-2">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
